* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:Helvetica, sans-serif;
}
.main{
    width:90vw;
    margin:1rem auto 0;
}
img{
    width:100%;
    border-radius:50%;
}
.headshot{
    width:80%;
    margin:1rem auto;
}
.name{
    font-size:1.5rem;
    font-weight: 600;
    text-transform:capitalize;
}
.email{
    font-weight: 200;
    color:grey;
    padding:.5rem 0;
}
.customer{
    width:22.5vw;
    text-align:center;
}
.customers{
    display:flex;
    flex-wrap:wrap;
}
.address{
    text-transform:capitalize;
}
.history{
    padding:.5rem 0;
}